$font-stack: Poppins, sans-serif;
$headline-stack: Playfair Display, serif;
$primary-color: #2d2d2d;
$secondery-color: #000000;
$font-color: #ededed;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100vh;
}
body {
  background-color: $primary-color;
  font-family: $font-stack;
  line-height: 1.5;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  background-color: $secondery-color;
  top: 0;
}
.cover-header {
  height: 7em;
  color: rgb(255, 255, 255);
  background-color: #ffffff;
  .sticky-header {
    font-size: 1.4rem;
  }
}
.navbar {
  display: flex;
  flex-direction: column;
  padding: 0 0.8em;
  top: 0;
  .logo {
    color: $font-color;
    font-family: $headline-stack;
    text-align: center;
    margin-bottom: 0.6em;
  }
  .btn-hamburger {
    position: relative;
    visibility: visible;
    display: flex;
    opacity: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #a28950;
    font-size: 2rem;
    justify-content: flex-end;
  }
  .menu {
    text-align: end;
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .btn-hamburger.menu-open + .menu {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
  }
  ul li a {
    line-height: 1.5em;
    color: $font-color;
    font-size: 1.2rem;
  }
  ul li a:hover {
    color: #a28950;
  }
  .dropdown-menu a {
    margin-left: 1.4em;
  }
}
main {
  flex: 1;
  overflow: auto;
  height: 100vh;
  font-size: 1rem;
  background-color: #000000;
  z-index: -2;
}
.hero-container {
  position: relative;
  background: url(/src/img/mobile/hero-img-mobile.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-attachment: fixed;
}
footer {
  position: sticky;
  background-color: $secondery-color;
  bottom: 0;
  text-align: center;
  color: rgb(146, 120, 84);
}

@media only screen and (min-width: 479px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    .logo {
      color: $font-color;
      font-family: $headline-stack;
      text-align: center;
      margin-bottom: 0.5em;
    }
    .btn-hamburger {
      justify-content: flex-end;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.1em;
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    .menu {
      // display: block;
      display: flex;
      opacity: 1;
      visibility: visible;
      color: #6a2727;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    ul li {
      font-size: 1.2rem;
      display: inline-block;
      position: relative;
      text-align: left;
    }
    ul li a {
      display: block;
      padding: 8px 25px;
      color: rgb(219, 219, 219);
    }
    .dropdown-menu {
      min-width: 100%;
      display: none;
      position: absolute;
      // z-index: 999;
      left: 0;
    }
    .dropdown-menu a {
      margin-left: 0;
    }
    li:hover .dropdown-menu {
      display: block;
    }
  }

  .hero-container {
    position: relative;
    background: url(/src/img/desktop/hero-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
  }
}
