$font-stack: Poppins, sans-serif;
$headline-stack: Playfair Display, serif;
$primary-color: #2d2d2d;
$secondery-color: #0f0d0d;
$golden-color: #a28950;
$font-color: #ededed;

.form-container {
  display: grid;
  grid-template-rows: 10% auto;
  width: 80%;
  margin: 2em auto;
  gap: 1em;
  .contact-title {
    font-family: $headline-stack;
    color: $golden-color;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  form {
    display: grid;
    gap: 1em;
  }
  .form-input {
    display: grid;
  }
  label {
    color: $font-color;
  }
  input {
    height: 2.5em;
    border-radius: 0.3em;
    border: 1px solid $golden-color;
    padding-left: 0.6em;
  }
  textarea {
    color: #2d2d2d;
    border-radius: 0.3em;
    margin-bottom: 1.7em;
  }
  .contact-btn {
    background-color: black;
    border: 2px solid $golden-color;
    border-radius: 0.7em;
    color: rgb(255, 255, 255);
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
  }
  .contact-btn:hover {
    color: $secondery-color;
    background-color: $golden-color;
  }
}

@media only screen and (min-width: 479px) {
  .form-container {
    max-width: 40em;
    margin-top: 5em;
    gap: 2em;
    .contact-title {
      font-size: 2.2rem;
    }
  }
}
@media only screen and (min-width: 767px) {
  .form-container {
    max-width: 40em;
    input {
      height: 3em;
    }
  }
}
