$font-stack: Poppins, sans-serif;
$headline-stack: Playfair Display, serif;
$primary-color: #2d2d2d;
$secondery-color: #0f0d0d;
$golden-color: #a28950;
$font-color: #ededed;

.design-title {
  font-family: $headline-stack;
  color: $golden-color;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2em;
  font-size: 1.5rem;
}
.gallery-grid-design {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 10em;
  gap: 2em;
  width: 80%;
  margin: 2em auto;
  .gallery-item-design {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid $primary-color;
    box-shadow: 0.2em 0.2em 0.8em rgba(0, 0, 0, 0.2);
  }
  .gallery-item-design:hover {
    border: 2px solid $golden-color;
  }
  .img-design-2 {
    grid-row: 2 / 4;
  }
  .img-design-5 {
    grid-row: 6 / 8;
  }
}

@media only screen and (min-width: 697px) {
  .design-title {
    font-size: 2.2rem;
  }
  .gallery-grid-design {
    grid-template-columns: repeat(2, 1fr);
    .img-design-1 {
      grid-column: 1;
      grid-row: 1 / 3;
    }
    .img-design-5 {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
    .img-design-6 {
      grid-column: 1 / 3;
      grid-row: 5 / 5;
    }
  }
}
