$font-stack: Poppins, sans-serif;
$headline-stack: Playfair Display, serif;
$primary-color: #2d2d2d;
$secondery-color: #0f0d0d;
$golden-color: #a28950;
$font-color: #ededed;

aside {
  position: relative;
  display: block;
  background-color: antiquewhite;
  float: none;
  padding: 1em 2.5%;
}
.main-profile {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 2em 5%;
}
.about-me-section {
  // display: grid;
  // grid-template-rows: 1fr auto;
  // max-width: 90%;
  .about-title {
    font-family: $headline-stack;
    color: $font-color;
    text-align: center;
  }
  .about-me {
  }
  .image-me {
    width: 100%;
    object-fit: cover;
  }
}
@media only screen and (min-width: 697px) {
  .main-profile {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    gap: 4em;
  }
  .info-section {
    display: flex;
    flex-direction: column;
    gap: 3em;
    // float: right;
  }
  aside {
    // display: flex;
    // flex-direction: column;
    // float: left;
    // max-width: 50em;
    // height: 100%;
  }

  .about-me-section {
    display: grid;
    grid-template-columns: 40% 1fr;
    // float: right;
    gap: 2em;
    padding: 2em 0;
    .about-title {
      font-family: $headline-stack;
      color: $font-color;
      text-align: center;
    }
    .about-me {
    }
    .image-me {
      width: 100%;
      object-fit: cover;
    }
  }
  .right-now-section {
    display: grid;
    grid-template-columns: 15% 60%;
    gap: 1em;
    .right-now-container {
      // width: 60%;
    }
    .right-now-title {
      rotate: 90deg;
    }
  }
  .studied-section {
    // float: right;
    .info-section {
      display: grid;
      // grid-template-rows: 1fr 1fr;
      float: right;
    }
    .studied-title {
      float: right;
      font-size: 2rem;
      color: rgb(29, 199, 162);
    }
  }
}
