$font-stack: Poppins, sans-serif;
$headline-stack: Playfair Display, serif;
$primary-color: #2d2d2d;
$secondery-color: #0f0d0d;
$golden-color: #a28950;
$font-color: #ededed;

aside {
  width: inherit;
  border: 2px solid $font-color;
  float: none;
  padding: 1em 2.5%;
  .aside-skills-title {
    font-family: $headline-stack;
    color: $golden-color;
    font-size: 1.5rem;
    margin-bottom: 0.2em;
  }
}
.aside-program-container {
  .aside-program-sub-title {
    font-family: $headline-stack;
    color: $font-color;
  }
  p {
    color: $font-color;
  }
}
.main-profile {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 2em 5%;
}
.image-profile-container {
  // width: 100%;
  object-fit: cover;
  position: relative;
}
.image-profile {
  width: 100%;
}
.text-image-container {
  position: absolute;
  left: 64%;
  top: 20%;

  .about-title {
    font-family: $headline-stack;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: $golden-color;
    .ut-title {
      margin-top: -0.6em;
      margin-bottom: -0.6em;
      font-size: 2rem;
      display: block;
      margin-left: 2em;
    }
    .ut-title:before {
      content: "";
      position: absolute;
      top: 42%;
      left: 0%;
      width: 1.6em;
      height: 0.25em;
      background-color: $golden-color;
      border: 2px solid $golden-color;
    }
    .me-title {
      font-size: 3rem;
      display: block;
    }
  }
}
.about-text {
  color: $font-color;
}

.right-now-title {
  text-align: end;
  font-size: 1.7rem;
  font-family: $headline-stack;
  color: $golden-color;
  text-transform: uppercase;
  margin: 1em 0 0.2em 0;
}
.right-now-text {
  color: $font-color;
}

.studied-section {
  // margin-bottom: 2em;
  .studied-title {
    text-align: start;
    margin: 1em 0 0.2em 0;
    font-family: $headline-stack;
    text-transform: uppercase;
    font-size: 1.7rem;
    color: $golden-color;
  }
  .studied-text {
    color: $font-color;
  }
  .studied-year {
    color: $font-color;
  }
}
.work-title {
  font-family: $headline-stack;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  margin: 1em 0 0.2em 0;
  color: $golden-color;
}
.work-text {
  color: $font-color;
}
//   }
// }
@media only screen and (min-width: 697px) {
  .main-profile {
    display: flex;
    flex-direction: column-reverse;
    // width: 90%;
    margin: 0 auto;
  }
  .info-section {
    display: flex;
    flex-direction: column;
    gap: 4em;
  }
  .about-me-section {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 2em;
    .about-title {
      font-size: 2rem;
      text-align: center;
    }
    .about-me {
    }
    .image-me {
      width: 100%;
      object-fit: cover;
    }
  }
  .right-now-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 80%;
    gap: 1em;
    .right-now-container {
    }
    .right-now-title {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      font-size: 2rem;
      margin: 0;
    }
  }
  .studied-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .info-section {
    }
    .studied-title {
      font-size: 2rem;
      text-align: center;
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 1023px) {
  .main-profile {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 4em;
  }
  .info-section {
    display: flex;
    flex-direction: column;
    gap: 3em;
    // float: right;
  }
  aside {
    // display: flex;
    // flex-direction: column;
    // float: left;
    // max-width: 50em;
    // height: 100%;
  }

  .about-me-section {
    display: grid;
    grid-template-columns: 40% 1fr;
    // float: right;
    gap: 2em;
    padding: 2em 0;
    .about-title {
      font-family: $headline-stack;
      text-align: center;
    }
    .about-me {
    }
    .image-me {
      width: 100%;
      object-fit: cover;
    }
  }
  .right-now-section {
    gap: 0em;
    .right-now-container {
    }
    .right-now-title {
      height: auto;
      height: fit-content;
      text-align: inherit;
    }
  }
  .studied-section {
    // float: right;
    .info-section {
      display: grid;
    }
    .studied-title {
    }
  }
}
